*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 28%, 15%);
}

/* Header */

.header {
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -200px;
    left: 0;
    right: 0;
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    z-index: -1;
}

.header__nav {
    padding: 50px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 60px;
}

.header__link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.header__hero {
    text-align: center;
}

.header__title {
    margin: 20px auto;
    max-width: 650px;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

.header__desc {
    margin: 20px auto;
    max-width: 450px;
    line-height: 1.5;

}

.header__cta {
    padding: 12px 60px;
    color: hsl(0, 0%, 100%);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: 0;
    border-radius: 20px;
}

/* Container */

.l-container {
    background-color: hsl(218, 28%, 13%);
}

/* Feature */

.feature {
    margin: 120px auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.feature__card {
    text-align: center;
}

.feature__image {
    width: 60px;
    height: auto;
}

.feature__image--security {
    width: 45px;
}

.feature__title {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.feature__desc {
    line-height: 1.5;
}

/* Productivity */

.productivity__welcome {
    margin: auto auto;
    max-width: 1200px;
    display: flex;
}

.productivity__info {
    margin-top: 50px;
    margin-left: 30px;
}

.productivity__title {
    margin: 20px 0;
    max-width: 300px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}

.productivity__desc {
    margin: 15px 0;
    max-width: 450px;
    line-height: 1.5;
}

.productivity__link {
    padding-bottom: 5px;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}

.productivity__go {
    margin-left: 5px;
}

.productivity__reviews {
    position: relative;
    margin: 100px auto 50px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;    
}

.productivity__reviews::before {
    content: "";
    position: absolute;
    top: -35px;
    left: -10px;
    right: 0;
    bottom: 0;
    background-image: url("../images/bg-quotes.png");
    background-repeat: no-repeat;
    z-index: 0;
}

.productivity__review {
    position: relative;
    padding: 30px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    z-index: 1;
}

.productivity__content {
    line-height: 1.5;
}

.productivity__profile {
    margin-top: 20px;
    display: flex;
}

.productivity__picture {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.productivity__author {
    margin-left: 10px;
}

.productivity__name {
    margin-bottom: 5px;
    font-weight: bold;
}

.productivity__role {
    font-size: 12px;
}

/* Access */

.access {
    position: relative;
    top: 80px;
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
    text-align: center;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
    box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.4);
}

.access__title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}

.access__desc {
    margin: 30px auto;
    max-width: 650px;
    line-height: 1.5;
}

.access__form {
    width: 100%;
}

.access__email {
    width: 50%;
    padding: 12px 25px;
    border: 0;
    border-radius: 20px;
}

.access__submit {
    margin-left: 20px;
    padding: 12px 25px;
    color: hsl(0, 0%, 100%);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border: 0;
    border-radius: 20px;
}

/* Footer */

.footer {
    padding: 130px 60px 60px;
    background-color: hsl(216, 53%, 9%);
}

.footer__grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 300px repeat(4, 1fr);
    gap: 80px;
}

.footer__contact {
    margin-bottom: 20px;
    display: flex;
}

.footer__desc {
    margin-left: 20px;
    line-height: 1.5;
}

.footer__contact-icon {
    align-self: center;
}

.footer__contact-icon--location {
    position: relative;
    top: 5px;
    align-self: flex-start;
}

.footer__item {
    margin-bottom: 30px;
}

.footer__link {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

.footer__socials {
    display: flex;
}

.footer__social-link {
    margin-left: 15px;
    padding: 5px;
    display: flex;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.footer__social-logo {
    width: 15px;
}

/* Attribution */ 
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}